
*, *:before, *:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.nav-body {
	
}

.main-body {

}

body {
	background-color: #DCECF8 !important;
	font-family: "Centaur MT" !important; 
	font-weight: normal;
	font-style: normal;
}

&.creating {
	color: #099;
}
&.deleting {
	text-decoration: line-through;
}
&.updating {
	color: #9FEE00;
}
&.error {
	background-color: #F00;
}

.sign-up-button{
	background-color: #FDA529 !important;
	border-color: transparent !important;
	color: white;
	width: 65px;
	font-size: 16px
}

@import 'partial-404.less';
@import 'partial-header.less';

@import 'page-sandbox.less';
@import 'page-homepage.less';
@import 'page-profile.less';
@import 'page-events.less';
