
*, *:before, *:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.nav-body {
	
}

.main-body {

}

body {
	background-color: #DCECF8 !important;
	font-family: "Centaur MT" !important; 
	font-weight: normal;
	font-style: normal;
}

&.creating {
	color: #099;
}
&.deleting {
	text-decoration: line-through;
}
&.updating {
	color: #9FEE00;
}
&.error {
	background-color: #F00;
}

.sign-up-button{
	background-color: #FDA529 !important;
	border-color: transparent !important;
	color: white;
	width: 65px;
	font-size: 16px
}

.event-wrapper {
	width:400px;
	border:1px solid #78C0E2;
	padding-bottom:10px;
	margin-bottom:10px;
	height:100px;
	.event-header {
		background-color:white;
		width:100%;
		height:20px;
	}
	.event-info {
		height:80px;
		padding-left:5px;
		text-overflow: ellipsis;
        -o-text-overflow: ellipsis;
		overflow:hidden;
		white-space: nowrap;
		.description {
			width:100%;
			
		}
	}
}

.event-wrapper:hover {
	border:2px solid #36759C
}

@import 'partial-404.less';
@import 'partial-header.less';

@import 'page-sandbox.less';
@import 'page-homepage.less';
@import 'page-profile.less';
@import 'page-events.less';
@import 'page-event.less';
