.page-profile {
	width: 950px;
	margin: 0 auto;
	font-size:25px;
	.header {
		width:100%;
		font-size:35px;
		border-bottom: 1px solid #78C0E2;
		height:50px;
	}
	.my-settings-panel {
		margin-top:25px;
		width: 125px;
		display:inline-table;
		label {
			font-size:15px;
		}
	}

	.my-events-panel {
		margin-top:25px;
		width: 400px;
		height:300px;
		display:inline-table;
		.event-wrapper {
			text-align: left;
			font-size:15px;
			width:400px;
			border:1px solid #78C0E2;
			padding-bottom:10px;
			height:100px;
			.event-header {
				background-color:white;
				width:100%;
				height:20px;
			}
			.event-info {
				height:80px;
				padding-left:5px;
				text-overflow: ellipsis;
                -o-text-overflow: ellipsis;
				overflow:hidden;
				white-space: nowrap;
				.description {
					width:100%;
					
				}
			}
		}
	}

	.my-upcoming-events-panel {
		font-size:15px;
		margin-top:25px;
		width: 400px;
		height:300px;
		display:inline-table;
		.event-wrapper {
			text-align: left;
			font-size:15px;
			width:400px;
			border:1px solid #78C0E2;
			padding-bottom:10px;
			height:100px;
			.event-header {
				background-color:white;
				width:100%;
				height:20px;
			}
			.event-info {
				height:80px;
				padding-left:5px;
				text-overflow: ellipsis;
                -o-text-overflow: ellipsis;
				overflow:hidden;
				white-space: nowrap;
				.description {
					width:100%;
					
				}
			}
		}
	}

}




.event-rank{
	float: right;
}

.up-margin{
	margin-top: -10;
}

.bottom-margin{
	margin-bottom: 0;
}

.searching-for-event{
	margin-bottom: 30;
	padding:10;
	width: 480px;
}

.border-with-shadow{
	border:2px solid;
	border-radius:25px;
	box-shadow: 10px 10px 5px #888888;
}

.center-text{
	text-align: center;
}

.float-right{
	float: right;
}