.page-homepage {

	width: 100%;
	max-width: 950px;
	min-width: 950px;
	margin-left:auto;
	margin-right:auto;
	color: #335F74 !important;

	.top-banner {
		margin-left:auto;
		margin-right:auto;
		max-width:800px;
		min-width:800px;
		width:100%;
		height:40%;
		min-height:300px;

		.main-message{
			float:left;
		}

		.image-event{
			
			margin-right:20px;
			div {
				display:inline-block;
			}
			img{
				width:200px;
				height:200px;
			}
		}

	}

	
	.hosting-event{
		width:100%;
		min-width:700px;
		max-width: 700px;
		margin-left: auto;
		margin-right: auto;

		min-height:250px;
		max-height:250px;
		border:10px solid #78C0E2;
		border-radius: 5px;

		.hosting-wrapper{
			max-width:600px;
			min-width:600px;
			margin:0 auto;
			min-height:inherit;
			max-height:inherit;
			.host-message {
				float:left;
				margin-top:10px;
			}

			.sign-up{
				min-width:300px;
				max-width:300px;
				min-height: inherit;
				max-height: inherit;
				margin:0 auto;
				padding-top:10px;
				input {
					display:block;
					margin-top:10px;
				}

				button {
					margin-top:10px;
					margin-left: 22%;
					margin-right:auto;
					max-width:80px;
				}
			}

			.sign-in {
				float:right;
				margin-top:10px;
				input {
					display:block;
					margin-top:10px;
				}

				button {
					margin-top:10px;
					margin-left: 33%;
					margin-right:auto;
					max-width:80px;
				}
			}
		}
	}
}

.indent {
	max-width: 171px;
	margin-left:auto;
	margin-right:auto;
}