.page-events {
	width: 950px;
	margin: 0 auto;
}

.tag-filter-panel{
	width: 125px;
	float: left;
}

.events-panel{
	width: 480px;
	margin: 10px;
	margin-right: 25px;
	float: left;
}

.map-panel{
	width: 280px;
	margin: 5px;
	float: left;
}

.map-image{
	width: 300px;
}

.search-box{
	width: 200px;
	margin: 0 auto;
}

.up-margin{
	margin-top: -10;
}

.clickable{
	cursor: pointer;
}