
.tag-filter-panel{
	width: 200px;
	margin-left: 50;
	float: left;
}

.events-panel{
	width: 560px;
	margin: 30;
	float: left;
}

.map-panel{
	width: 280px;
	margin: 30;
	float: left;
}

.search-box{
	width: 200px;
	margin: 0 auto;
}

.up-margin{
	margin-top: -10;
}