<div class="page-events">
	<div class = "header">
		<span class = "pull-left">Find Events</span>
		<input class = "pull-right" type="text" ng-model="searchString" placeholder="Search Events" size="23">
	</div>
	<div class="events-panel">
		<div class="event-wrapper clickable" ng-click="sendToEventPage(event)" ng-repeat="event in events | orderBy: 'date' | filter: searchString" ng-show="futureEvent(event.date)">
			<div class = "event-header">
				<span class="clickable">{{event.title}}</span>
			</div>
			<div class = "event-info">
				<span class="event-rank">Rank: {{event.rank}} <br>rsvp: {{event.rsvp}}</span>
				<i>Location:</i> {{event.location}}<br>
				<i>Time:</i> {{event.time}} {{event.date | date: MMM-dd-yy}}<br>
				<i class = "description">Description:</i> {{event.description}}
			</div>
		</div>
	</div>
	<div class = "option-panel">
		<!--<div class="tag-filter-panel">
			<span>Filter by Tag:</span>
			<div ng-repeat="tag in tags">
				<label><input type="checkbox" ng-model="tag.isChecked"> {{tag.name}} </label><br><br>
			</div>
		</div>-->
		<div class="map-panel">
			<div class = "map-canvas" id="map-canvas"/>
		</div>
	</div>
	
	
</div>
