<section class="page-homepage">
	<div class="page-wrapper">
		<div class = "find-events">
			<span>Looking for Somthing</span>
			<br>
			<span>to Do?</span>
			<br>
			<span>Find Events Near You!</span>
			<form ng-submit="goToEvents()">
				<input type="text" ng-model="searchBox" placeholder="zipcode, city, etc" size="23" >
				<br>
				<button type="submit">Find Events</button>
			</form> 
		</div>
		<div class = "host-events">
			<div class="header">Hosting an Event</div>
			<form class="sign-up">
				<span>Sign Up</span>
				<input type="text" ng-model="email" required placeholder="Email" size="23">
				<input type="text" ng-model="username" required placeholder="Username" size="23">
				<input type="password" ng-model="password" required placeholder="Password" size="23">
				<button type="submit">Sign Up</button>
			</form>
		</div>
	</div>
</section>