<div class="page-profile">
	<div class = "header">
		<span class = 'pull-left'>My Profile </span>
	</div>
	<div class="my-settings-panel">
		<span>My Settings</span>
		<label><input type="checkbox" ng-model="user.settingDisplayInfo" ng-click="updateProfile()"> Display my info in events </label><br><br>
		<label><input type="checkbox" ng-model="user.settingShowRsvp" ng-click="updateProfile()"> Show RSVP numbers in events </label><br><br>
		<label><input type="checkbox" ng-model="user.settingEmailMe" ng-click="updateProfile()"> Email me </label><br>
		<span ng-show="user.email">({{user.email}})</span><br>
	</div>
	<div class="my-events-panel center-text">
		<u>My Events (I created)</u><br>
		<div class="event-wrapper" ng-click="sendToEventPage(event)" ng-repeat="event in user.myEvents">
			<div class = "event-header">
				<span  class="clickable">{{event.title}}</span>
			</div>
			<div class = "event-info">
				<span class="event-rank">Rank: {{event.rank}} <br>rsvp: {{event.rsvp}}</span>
				<i>Location:</i> {{event.location}}<br>
				<i>Time:</i> {{event.time}} {{event.date | date: MMM-dd-yy}}<br>
				<i class = "description">Description:</i> {{event.description}}
			</div>
		</div>
	</div>
	<div class="my-upcoming-events-panel center-text">
		<u>Upcoming Events</u><br>
		<div class="event-wrapper " ng-click="sendToEventPage(event)" ng-repeat="event in user.upcomingEvents | orderBy: 'date'">
			<div class = "event-header">
				<span  class="clickable">{{event.title}}</span>
			</div>
			<div class = "event-info">
				<span class="event-rank">Rank: {{event.rank}} <br>rsvp: {{event.rsvp}}</span>
				<i>Location:</i> {{event.location}}<br>
				<i>Time:</i> {{event.time}} {{event.date | date: MMM-dd-yy}}<br>
				<i class = "description">Description:</i> {{event.description}}
			</div>
		</div>
	</div>
	<br><br>
</div>
