<nav>
	<div class="partial-header" ng-controller="NavCtrl">
		<div class="partial-wrapper">
			<a href="{{home.url}}" ng-click="changeActiveTab(0)"><img class = "header-img" src="images/EventHub.png"/></a>
			<div class="header-links" role="navigation">
				<span class = "tabs" ng-repeat="link in links">
						<a href="{{link.url}}" ng-click="changeActiveTab(link.number)" ng-class="{active : activeTab==link.number}">{{link.text}}</a>
				</span>
				<span class = "tabs">
					<a href="/profile/{{user.id}}" ng-click="changeActiveTab(3)" ng-class="{active : activeTab==3}">My Profile</a>
				</span>
				<form action="/api/login" method="post" class="sign-in-form">
					<input type="text" required placeholder="email"  name="email"/>
					<input type="password" required placeholder="Password" name="password">
					<button type="submit" class = "sign-up-button">Sign In</button>
				</form>

                <!-- <form action="/api/login" method="post" class="sign-in-form">
                    <div>
                        <label>Email:</label>
                        <input type="text" name="email"/>
                    </div>
                    <div>
                        <label>Password:</label>
                        <input type="password" name="password"/>
                    </div>
                    <div>
                        <input type="submit" value="Log in"/>
                    </div>
                </form> -->
			</div>
		</div>
	</div>
</nav>
